@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    //TODO clean up naming
    private int currentCount = 0;

    public struct returnObject
    {
        public string Count { get; set; }
    }

    private async Task IncrementCount()
    {
    //var requestMessage = new HttpRequestMessage(HttpMethod.Get,$"http://localhost:7071/api/IncrementCounter?count={currentCount}");
    var requestMessage = new HttpRequestMessage(HttpMethod.Get,$"https://incrementcountertesttees.azurewebsites.net/api/IncrementCounter?count={currentCount}");
    
    HttpClient httpClient = new HttpClient();
    using (HttpResponseMessage response = httpClient.Send(requestMessage))
            {
                var responseStatusCode = response.StatusCode;
                var responseBody = await response.Content.ReadAsStringAsync();

                var returnCount = JsonConvert.DeserializeObject<returnObject>(responseBody);

                currentCount = Convert.ToInt32(returnCount.Count);

                return;
            }
    }
}